<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="ff49f665-928f-47c5-bffc-5f7de84c41d6" Publisher="CN=Bart" Version="0.2.0.0" />
  <Properties>
    <DisplayName>GramophoneRT</DisplayName>
    <PublisherDisplayName>BeeWee</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GramophoneApp.Windows.App">
      <m2:VisualElements DisplayName="GramophoneRT" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Gramophone is an app to manage your Discogs activities on Windows Phone and Windows." ForegroundText="light" BackgroundColor="#599737">
        <m2:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square70x70Logo="Assets\Square70x70Logo.png" Square310x310Logo="Assets\Square310x310Logo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#599737" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>